<section class="section-manage-images">
	<div class="add-image">
		<p class="add-image__title">Add image</p>
		<form action="/add" method="POST" enctype="multipart/form-data">
			<input class="add-image__input" type="text" name="title" placeholder="Image title">
			<textarea class="add-image__textarea" name="description" placeholder="Image description"></textarea>
			<label class="add-image__image-label" for="image">Choose image: </label>
			<input class="add-image__image" type="file" name="image" id="image">
			<button class="add-image__btn">
				<i class="bi bi-save2-fill"></i> Upload image
			</button>
		</form>
	</div>
	<div class="manage-images">
		<section class="manage-images__title">
			<p>Title</p>
			<p>Description</p>
			<p>Action</p>
		</section>
		{{#each photos}}
		<article class="card-image">
			<p>{{title}}</p>
			<p class="card-image__borders">{{description}}</p>
			<div>
				<button class="card-image__view"><a href="{{imgURL}}" target="_blank"><i class="bi bi-eye-fill"></i>
						View</a></button>
				<button class="card-image__delete">
					<a href="/image/delete?id={{_id}}"><i class="bi bi-trash2-fill"></i> Delete</a>
				</button>
			</div>
		</article>
		{{/each}}
	</div>
</section>
